#aboutmeWrapper {
    position: relative;
    margin: 40px auto;
    width: 880px;
    min-height: 600px;
    height: calc(100vh - 310px);
}

#aboutmePhoto {
    width: 400px;
}

#aboutmeBox {
    position: absolute;
    padding: 30px;
    width: 540px;
    height: 400px;
    top: 100px;
    left: 240px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 42px -21px rgba(0, 0, 0, 0.75);
}

#aboutmeLong {
    display: none;
}

#aboutmeTypewriter {
    display: inline;
    color: rgb(0, 82, 175);
}

#socialWrapper>.social {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin: 0 5px;
    border: 1px solid #cecece;
    cursor: pointer;
    background: transparent;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.social#instagram>#instagramIcon {
    z-index: 1;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
}

.social#instagram>#instagramBackground {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.social:hover {
    color: #fff;
}

.social#fivehundredpx:hover {
    background: #000;
}

.social#instagram:hover>#instagramBackground {
    opacity: 1;
}

.social#facebook:hover {
    background: #3b5a9b;
}

.social#twitter:hover {
    background: #2baae1;
}

.social#linkedin:hover {
    background: #0072b2;
}

.social#tumblr:hover {
    background: #34526f;
}

.social#youtube:hover {
    background: #c4302b;
}

.social#github:hover {
    background: #000;
}

.social#loronangesite {
    line-height: 50px;
}

.social#loronangesite:hover {
    background: #000;
}

@media only screen and (max-width: 830px) {
    #aboutmeWrapper h2 {
        height: 50px;
    }
    #aboutmeWrapper {
        width: 100%;
        height: auto;
        min-height: auto;
        margin: 10px auto;
    }
    #aboutmePhoto {
        display: none;
    }
    #aboutmeBox {
        padding: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        position: relative !important;
        top: 0;
        left: 0;
    }
}