.light .previewwrapper>div:first-child {
  border: 2px solid rgba(0, 0, 0, 0.87);
}

.light .previewwrapper>.previewtabs>div {
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
  border-right: 2px solid rgba(0, 0, 0, 0.87);
}

.dark .previewwrapper>div:first-child {
  border: 2px solid #fff;
}

.dark .previewwrapper>.previewtabs>div {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.descriptionwrapper, .previewwrapper {
  position: relative;
  padding: 15px;
  width: 400px;
}

.imagecomparewrapper {
  max-height: 260px;
  min-height: 260px;
  overflow: hidden;
}

.previewtabs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 6vh;
}

.previewtabs>div {
  max-height: 60px;
  height: calc(100% - 3px);
  width: calc(100% / 6);
  cursor: pointer;
}

.previewtabs>div:first-child {
  border-left: 2px solid;
  overflow: hidden;
}

.descriptionwrapper {
  /* margin: auto; */
  min-width: 290px;
  width: 50vw;
  max-width: calc(100% - 46vh - 60px);
}

.descriptionwrapper>h1 {
  font-size: 30px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
}

.descriptionwrapper>h1>a {
  margin: 10px;
}

.descriptionwrapper>div {
  display: flex;
}

.descriptionwrapper img {
  margin-right: 30px;
  max-width: 160px;
  min-width: 160px;
  width: 160px;
  height: 240px;
  float: left;
}

.descriptionwrapper>button {
  float: right;
  margin-top: 10px;
}

.descriptionwrapper h4 {
  margin-bottom: 0;
}

.descriptionwrapper ul {
  margin-top: 0;
}

@media (max-width: 450px) {
  .imagecomparewrapper, .previewwrapper {
    width: calc(90vw - 3px);
    padding: 0;
    margin-left: -2px;
  }
  .imagecomparewrapper {
    height: 200px;
  }
  .descriptionwrapper {
    width: calc(100vw - 15px);
    max-width: calc(100vw - 15px);
  }
  .previewtabs {
    margin-left: -2px;
    width: calc(100% + 4px);
  }
  .descriptionwrapper img {
    margin-right: 20px;
    max-width: 120px;
    min-width: 120px;
    width: 120px;
    height: 200px;
  }
}