#FAQ {
    width: 80%;
    margin: auto;
}

#FAQ h1 {
    text-align: center;
    margin: 50px 0;
}

.faqdata {
    color: #979797;
}

#FAQ > .MuiPaper-root.MuiExpansionPanel-root.MuiExpansionPanel-rounded.MuiPaper-elevation1.MuiPaper-rounded {
	margin: 18px 0;
	padding: 8px;
}