#gdpr-consent-banner {
    width: calc(100% - 16px);
    padding: 8px;
    font-size: 14px;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background: #3b4045;
    color: #fff;
    position: fixed;
}

#gdpr-consent-banner>div {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 65rem;
}

#gdpr-consent-banner>div>div {
    margin: 10px;
}

#gdpr-consent-banner>div>div>div {
    display: inline;
    text-decoration: underline;
    margin: 0 3px;
    cursor: pointer;
}