@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

.mainlogo {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 600;
}