#mainmenu {
  width: calc(100vw - 200px);
  max-width: 420px;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#mainmenu button {
  color: #5f6368;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
  min-width: 80px;
}

#mainmenu button.active {
  border-bottom: 2px solid;
}

#drawertogglebutton {
  display: none;
  margin: auto 0;
  cursor: pointer;
  margin: auto 20px auto 0px;
  font-size: 40px;
}

#drawer .mainlogo {
	margin: 10px;
}

@media (max-width: 915px) {
  #mainmenu {
    width: auto;
  }
  #mainmenu > div {
    display: none;
  }
  #mainmenu > div:last-child {
    display: block;
  }
  #mainmenu button {
    min-width: 40px;
  }
  #drawertogglebutton {
    display: block;
  }
}