#whyus {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    height: 130px;
    background: url('https://res.cloudinary.com/angeloron/image/upload/c_scale,h_130,q_100,f_auto/v1/loronpresets/whyus_banner.png') no-repeat #fff;
}

#whyus #whyusdelimiter {
    width: 325px;
    height: 100%;
}

#whyus>#whyustext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 325px);
    max-width: 1000px;
    margin: 20px;
    text-align: right;
}

@media (max-width: 820px) {
    #whyus {
        background: url('https://res.cloudinary.com/angeloron/image/upload/c_scale,q_100,w_100,f_auto/v1/loronpresets/logo.png') no-repeat #fff 10px 50%;
    }
    #whyus #whyusdelimiter {
        width: 110px;
    }
    #whyus>#whyustext {
        margin: 5px 10px;
        font-size: 12px;
        width: calc(100% - 110px);
    }
}