#productpagewrapper {
    display: flex;
    margin: auto;
    padding: 20px 0;
    width: 800px;
}

#productpagewrapper main {
    margin-right: 10px;
}

#productpagewrapper main .displayphoto {
    margin: 15px 0;
    position: relative;
    overflow: hidden;
}

#productpagewrapper main .displayphoto img {
    max-width: 100%;
}

#productpagewrapper main .displayphotocaption {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: calc(100% - 20px);
}

#productpagewrapper aside {
    margin-top: 70px;
}

#productpagewrapper aside ul,
#productpagewrapper aside h5 {
    text-align: left;
}

#productpagewrapper aside img {
    max-width: calc(30vw - 30px);
}

@media (max-width: 800px) {
    #productpagewrapper {
        padding: 0;
        width: 90vw;
        margin: auto;
    }
    #productpagewrapper aside {
        margin-top: 0px;
    }
}