@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');
.slide .title {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}

.slider-content .inner .description {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide img {
  width: 150px;
}

.slide button, .slide img {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide p {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide.current .inner .description, .slide.animateIn.previous .description, .slide.animateIn.next .description, .slide.animateIn.previous .title, .slide.current .title, .slide.animateIn.next .title, .slide.animateIn.previous button, .slide.current button, .slide.animateIn.next button, .slide.animateIn.previous img, .slide.current img, .slide.animateIn.next img, .slide.animateIn.previous p, .slide.current p, .slide.animateIn.next p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  opacity: 1;
}

.slide.animateIn.previous p, .slide.animateIn.next p {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.slide.animateIn.previous button, .slide.animateIn.next button, .slide.animateIn.previous img, .slide.animateIn.next img {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.slider.animateOut .inner .description, .slide.animateOut .title {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.slide.animateOut p {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 55px);
  min-height: 900px;
}

.slide {
  height: 100%;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.previousButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('https://loronpresets.com/arrow.svg') no-repeat center center / 16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover, .nextButton:hover {
  background: url('https://loronpresets.com/arrow.svg') no-repeat center center / 16px;
}

.previousButton {
  left: 20px;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.nextButton {
  right: 20px;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 60px 40px;
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 100%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
}

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  color: white;
  width: 50%;
  font-weight: 600;
  height: 50px;
}

.slider-content .inner .slogan {
  font-weight: 600;
  color: #000;
  font-size: 37px;
  margin: 20px 0;
}

.slider-content .inner .title h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  margin: 0 auto;
  max-width: 840px;
  color: #000;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner .title h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #535353;
  margin: 0;
}

.slider-content .inner h3 {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.slider-content .inner .description ul {
  width: 240px;
  text-align: left;
  margin: 0 auto 20px auto;
}

.slider-content .inner p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.red {
  color: #ff0000;
}

@media (max-height: 500px) {
  .slider-wrapper {
    height: 400px;
  }
}

@media (max-width: 640px) {
  .slider-wrapper {
    height: 650px;
  }
  .slider-content .inner {
    padding: 20px 0px;
    margin: 0px;
    width: 100vw;
    right: 0;
  }
  .slider-content .inner button {
    bottom: 10px;
  }
  .slider-content img {
    width: 150px;
  }
  .slider-content h2 {
    font-size: 21px;
  }
  .slider-content .slogan {
    font-size: 20px !important;
    margin: 5px 0 25px 0 !important;
  }
}