<h4>WEBSITE</h4>
<ul>
    <li>Get the final presets</li>
    <li>Change the "ideal presets" instructions to "loronpresets"</li>
    <li>Review the "WHY US" banner to make it fit better</li>
    <li>Finalize what to do with social sharing buttons</li>
    <li>Get paylike's approval to transfer funds to my account</li>
    <li>Change the whatsapp sharing logo</li>
    <li>Do whatever possible to improve SEO results</li>
</ul>
<br />
<h4>GOOGLE</h4>
<ul>
    <li>Active google Business account</li>
    <li>Change banner in google Business account</li>
    <li>Collect google reviews</li>
</ul>
<br />
<h4>FACEBOOK</h4>
<ul>
    <li>Review facebook profile picture</li>
    <li>Create a facebook banner (820px x 360px with no text touching the borders as it will cut in mobile format)</li>
    <li>Create facebook posts</li>
</ul>
<br />
<h4>TWITTER</h4>
<ul>
    <li>Create Twitter profile picture (400px x 400px)</li>
    <li>Create Twitter banner (1500px x 500px)</li>
    <li>Create Tweets (1200px x 675px)</li>

</ul>
<br />
<h4>INSTAGRAM</h4>
<ul>
    <li>Create instagram profile picture (180px x 180px)</li>
    <li>Create instagram posts (1080px x 1080px)</li>
</ul>
<br />
<h4>PINTEREST</h4>
<ul>
    <li>Create pinterest profile picture (180px x 180px)</li>
    <li>Create a banner</li>
    <li>Create Pinterest Pin (735px x 1102px)</li>
</ul>
<br />
Here is a link with the various sizes for all social medias:<br />
<a href="https://louisem.com/2852/social-media-cheat-sheet-sizes">https://louisem.com/2852/social-media-cheat-sheet-sizes</a>
<br />
<br />
Once the above is done, the time comes to promote like mad through family and friends.<br />
And only when you start having a few posts and some followers (friends and family), then start paying for ads (facebook/instagram).


<!-- <h4>AFFILIATE</h4>
<ul>
    <li>Promote the shit out of it</li>
    <li>Create affiliate accounts interface</li>
    <li>Create affiliate banners</li>
</ul> -->