* {
  text-rendering: optimizelegibility;
}

.anchor {
  display: block;
  position: absolute;
  visibility: hidden;
  top: -64px;
}

#mainwrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 300px;
  padding-top: 55px;
  width: 100%;
  background: #fff;
}

.fullpage {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 100% 0 !important;
  min-height: calc(100vh - 85px);
}

.halfpage {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
  border-top: 1px solid lightgrey;
}

.light {
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: rgba(0, 0, 0, 0.87);
}

.dark {
  background: rgba(0, 0, 0, 0.54);
  color: #fff;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  background: rgba(0, 0, 0, 0.87);
}

#splash {
  background-attachment: fixed;
}

#backtotop {
  z-index: 2;
}

.margin50 {
  margin: 0 50px;
}

@media (max-width: 800px) {
  .fullpage {
    min-height: 170px;
    height: 600px;
    background-size: contain !important;
  }
}